*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#343b53;
    font-family:  "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body{
    background-color:#f8f5f4;
}
#parent{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid; */
}
#childParent1{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    gap: 10px;   
}
#childParent1>div:first-child{
    width: 40%;
}
#childParent1>div:nth-child(2){
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
    gap: 10px;
    /* border: 1px solid; */
}
.topBlock{
    display: flex;
    border: 1px solid rgb(171, 168, 168);
    justify-content: flex-start;
    align-items: center;  
    padding: 0px 10px;  
    border-radius: 10px;
    gap: 20px;
    background-color: white;
}
.topBlock:hover{
    cursor: pointer; 
    border: 1px solid #3662d8;
}
.topBlock:hover .icon>i{
    cursor: pointer; 
    color:#3662d8;
}
#search{
    width: 100%;
}
#search:hover{  
    cursor: pointer; 
    border: 1px solid #3662d8;
}
#destination{
    outline: none;
}
#check-in,
#check-out,
#travellers,
#searchBtn{
    /* width:15%; */
}
input[type="date"]{
    /* width: 60%; */
    outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}
#travellers{    
    overflow: hidden;
}
#searchBtn{
    border-radius: 10px;
    border: none;
    background-color: #3662d8;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.tag{
    font-size: 13px;
    color: grey;
}
.head{
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: 5px;
    color:#343b53;
}
#childParent2{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}
hr{
    margin: 10px 0 ;
}
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#map{
    width: 100%; 
    border: 1px solid rgb(171, 168, 168);; 
    border-radius: 10px;  
}
#map:hover,
#search_by_property>div:hover{
    border: 1px solid #3662d8;
}
#gmap_canvas{
    border-radius: 10px;
}
#search_by_property>div{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #343b53;
    border-radius: 10px;
    padding: 10px;    
}
#search_by_property>h3{
    margin-bottom: 10px;
}
#filter>div{
    margin-top: 20px;    
}
#filter>div>p{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
#filter>div>div{
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 10px;
}
input[type="radio"],
input[type="checkbox"]{
    transform: scale(1.5);
}
/* #main{
    border: 1px solid;
} */
#sort{
    display: flex;
    justify-content: space-between;    
}
#adv>p:first-child{
    font-size: 12px;
    font-weight: bold;
}
#adv>p:last-child{
    font-size: 14px;
    font-weight: bold;
}
#sortOption{
    width: 20vw;
    position: relative;
    display: flex;
    justify-content: space-between;
}
#selectPrice{
    width: 20vw;
    margin-left: -16px;
    padding: 0 10px;
    font-size: 16px;
    height: 30px;
    border-radius: 10px;
    border: transparent;
    outline: none;
    background-color: transparent;
}
#selectPrice>option{
    position: absolute;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}
#list{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
.hotel{
    display: flex;   
    height: 200px;      
    background-color: white;
    border-radius: 10px;
    gap: 10px;
}
.hotel h3{
    font-weight: 500;
    font-size: 20px;
}
.hotel>div:first-child{
    width: 70%;   
}
.hotel>div:first-child>img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.hotel>div:last-child{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.bottomBlock{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-end;
}
.payserv{
    width: 60%;
    margin-bottom: 10px;    
}
.payserv>p{
    color: green;
}
.rating{
    display: flex;
    gap: 5px;
}
.rating>p:first-child{
    font-weight: 700;
}
#hide{
    display: none;
    visibility: hidden;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 768px) and (max-width: 1024px){    
    #parent{
        width: 90%;
        margin: 20px auto;        
    }
    #childParent1{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;   
    }
    #childParent1>div:first-child{
        width: 100%;
    }
    #childParent1>div:nth-child(2){
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1.25fr 0.75fr;
        gap: 10px;        
    }
    #childParent2{       
        display: flex;
        justify-content: space-between;
        gap: 20px;        
    }
    #sidebar{
        width: 20%;
    }
    #map>iframe{
        width: 100%;
    }      
    #search_by_property>div{
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #343b53;
        border-radius: 10px;
        padding: 10px;    
    }
    #search_by_property>h3,
    #filter>h3{
        font-size: 16px;
    }
    #property_div>input{
        font-size: 12px;
    }    
    #filter>div>div{       
        font-size: 14px;
    }
    input[type="radio"],
    input[type="checkbox"]{
        transform: scale(1.2);
    }    
    .hotel h3{        
        font-size: 16px;
    }
    .hotel>div:first-child{
        width: 60%;   
    }   
    .hotel>div:last-child{       
        gap: 10px;
    }   
    .payserv{
        width: 80%;  
        font-size: 14px;         
    }
    .payserv>p{
        color: green;
    }   
}

@media all and (min-width: 0px) and (max-width: 767px){    
    #childParent1{
        display: flex;
        flex-direction: column;
    }
    #childParent1>div:first-child{
        width: 100%;
    }
    #childParent1>div:nth-child(2){
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);                
    }
    #childParent2{       
        display: flex;
        justify-content: space-between;
        gap: 20px;        
    }    
    #sidebar{
        display: none;        
    } 
    #sort{
        flex-direction: column;
        gap: 5px;
    }
    #sort>div:nth-child(2){
        width: 100%;
    }
    #sort>div:nth-child(2)>div option{
        width: 80%;
    }
    #selectPrice{
        width: 100%
    }
    .hotel{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }     
    .hotel h3{        
        font-size: 16px;
    }
    .hotel>div:first-child>img{
        width: 100%;
        height:fit-content;
        border-radius: 10px 10px 0 0;        
    }
    .hotel>div:first-child{
        width: 100%;   
    }   
    .hotel>div:last-child{       
        gap: 10px;
        padding: 0 20px 20px;
    }   
    .payserv{
        width: 80%;  
        font-size: 14px;         
    }
    .payserv>p{
        color: green;
    }
    .rating>p{
        font-size: 15px;
    }
    .bottomBlock>div:last-child{
        width: fit-content;
    }
    .bottomBlock h2{
        font-size: 17px;
    }
   
}


